body {
    margin: 0;
}

#ibm-leadspace-title {
    font-size: calc(36px + .0101010101 * (100vw - 1056px));
    line-height: 2.25rem;
    max-width: 39.5rem;
    margin-bottom: 2rem;
    line-height: calc(44px + .0101010101 * (100vw - 1056px));
    max-width: calc(808px + .228956229 * (100vw - 1056px));
    font-weight: 300;
    padding: 0 0 15px;
}

#ibm-leadspace-copy {
    font-size: calc(16px + .0067340067 * (100vw - 1056px));
    line-height: calc(22px + .0067340067 * (100vw - 1056px));
    max-width: calc(560px + .2154882155 * (100vw - 1056px));
    margin-bottom: calc(24px + .0134680135 * (100vw - 1056px));
    font-weight: 400;
}

#IBM-Top {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
}

#Logo {
    position: relative;
    height: 50px;
    width: 70px;
}

.topnav {
    background-color: #e9e9e9;
    padding-bottom: 10px;
}

.topnav a:hover {
    background-color: #dddddd;
    color: #3b6caa;
    font-family: "icons-ibm-v12";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    left: 0;
    text-decoration: none;
    speak: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

.topnav .Search-container {
    float: right;
}

.left-nav {
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#searchIcon {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 5px;
}

#listIcon {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px 3px;
}

input[type=text] {
    padding-left: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    color: #dddddd;
}

p {
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    color: #dddddd;
}

.hyperlinkStyle {
    color: #ffffff;
    text-decoration: none;
    line-height: calc(22px + .0067340067 * (100vw - 1056px));
    max-width: calc(560px + .2154882155 * (100vw - 1056px));
    margin-bottom: calc(24px + .0134680135 * (100vw - 1056px));
}

#Section-One {
    background-color: #0530ad;
    display: flex;
}

#Section-One-left-Side {
    padding-left: 44px;
    padding-right: 88px;
}

#Section-One-right-side {
    padding-right: 122px;
    padding-left: 188px;
}
#Video{
    width: 100%;
}

.ibm-type-d {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    max-width: 35rem;
    margin-bottom: 1rem;
}

.ibm-col {
    height: 450px;
    width: 350px;
}

.ibm-row1 {
    padding-right: 44px;
    padding-left: 44px;
    padding-bottom: 10px;
}

.ibm-row2 {
    padding-right: 44px;
    padding-left: 44px;
    height: 30%;
}

.ibm-row3 {
    padding-right: 44px;
    padding-left: 44px;
    height: 10%;
}

#Special-color {
    color: black;
}

#color-black {
    background-color: black;
    padding-top: 30px;

}
#coloring-grey{
    background-color: black;
    padding-top: 30px;
 color: #335ddb;

}

#Section-two {
    background: color #8d1e1e;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    padding-left: 40px;
}

.Section-three {
    background-color: #adbde7;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-bottom: 0;
    display: flex;
}

.Div-One {
    width: 20%;
    float: left;
    padding-right: 50px;
    border: red;
    border-style: solid;
}

.Div-Three {
    width: 25%;
    float: right;
    padding-right: 50px;
}

.Div-Two {
    width: 25%;
    float: right;
    padding-right: 50px;
}


.Pics {
    width: 100%;
}

.Section-four {
    background-color: black;
    padding-top: 0;
    display: flex;
}

.container-Sec-4 {
    background-color: black;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 50px;
    padding-right: 110px;
}

#Div-col {
    background-color: #1646d4;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

h3 {
    color: #dddddd;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}

h5 {
    color: white;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}

h2 {
    color: #080404;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}

.Section-six {
    background-color: white;
    display: flex;
    padding-top: 0px;
    color: #080404;
}

.Section6-right {
    width: 90%;
    height: 700px;
}

.Section6-left {
    padding-top: 200px;
    padding-left: 44px;
    padding-right: 44px;
}

.Paragraph-Division {
    display: flex;
}

.paragph {
    padding-right: 30px;
    width: 100%;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    color: #080404;
    text-align: left;
}

#edit {
    color: black;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    font-style: oblique;
}

.Section-seven {
    color: white;
    background-color: #2f5fec;
    display: flex;
    padding-top: 30px;
}

.Section-8 {
    background-color: #dfe1e7;
    display: flex;
    padding-top: 30px;
    color: #8d1e1e;
    border-bottom-style: solid;
    border-color: #bbc1d6;
}


.footer {
    background-color: #dfe1e7;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
}

.SocialMediaIcons {
    width: 9%;
}


.Section-5 {
    display: flex;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #dfe1e7;
}

.container5{
    background-color: red;
    display: flex;
}
#i {
    width: 90%;
}

#imgsize {
    width: 90%;
    height: 70%;
}